/* Set background color */
body {
  background-color: #1c1c1e;
  color: #f5f5f5;
}

/* Set font family and size */
body, input, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Set header styles */
.title {
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  font-size: 48px;
}

.wavy-text {
  text-decoration: underline;
  text-decoration-color: #4a4a4a;
  text-decoration-style: wavy;
  animation-name: wave;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Set form styles */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, textarea {
  width: 1100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2c2c2e;
  color: #f5f5f5;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #2196F3;
}

.botmessage	{
  width: 1100px;
  height: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2c2c2e;
  color: #f5f5f5;
}

/* Button styles */
.btn {
  display: inline-block;
  padding: 8px 20px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #00c8ff;
  border: 2px solid #00c8ff;
  border-radius: 25px;
  cursor: pointer;
  text-shadow: 0 0 2px #000000;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  outline: none;
}

/* Button text with black outline */
.btn span {
  display: inline-block;
  -webkit-text-stroke: 1px #000;
  text-stroke: 1px #000;
}

/* Hover effect for buttons */
.btn:hover {
  background-color: #45d7ff;
  border: 2px solid	#45d7ff;
}

/* Active effect for buttons */
.btn:active {
  background-color: #1787e3;
  border: 2px solid #1787e3;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


/* Set Github button styles */
.github-button {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Mobile styles */
@media (max-width: 768px) {
  /* Set header styles */
  .title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  h1 {
    font-size: 36px;
  }
  
  /* Set form styles */
  input, textarea, .botmessage {
    width: 100%;
    max-width: 400px;
  }

  /* Set Github button styles */
  .github-button {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}