/* Set background color */
body {
  background-color: #1c1c1e;
  color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Set header styles */
.title {
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  font-size: 48px;
}

.wavy-text {
  text-decoration: underline;
  text-decoration-color: #42cefc;
  text-decoration-style: wavy;
  animation-name: wave;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Set form styles */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  max-width: 800px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2c2c2e;
  color: #f5f5f5;
  font-size: 16px;
  margin-bottom: 20px;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #2196F3;
}

.botmessage {
  height: 300px;
}

/* Button styles */
.btn {
  display: inline-block;
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  border-radius: 3px;
  cursor: pointer;
  height: 45px;
  width: 250px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

/* Button text with black outline */
.btn-primary {
  background-color: #7289da;
  border: 2px solid #7289da;
  color: #fff;
}

.notice {
  font-size: 12px;
}

.warning {
  color: red;
text-shadow: 0 0 10px #FF5733 , 0 0 20px #000;
}

/* Set Github button styles */
.github-button {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Mobile styles */
@media (max-width: 768px) {
  /* Set header styles */
  .title {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 36px;
  }

  /* Set form styles */
  input, textarea, .botmessage {
    width: 100%;
    max-width: 400px;
  }

  /* Set Github button styles */
  .github-button {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .notice {
    font-size: 12px;
  }
}

/* Mobile styles for 3-5" inch devices */
@media (max-width: 480px) {
  /* Set header styles */
  .title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 24px;
  }

  /* Set form styles */
  input, textarea, .botmessage {
    width: 100%;
    max-width: 250px;
  }

  /* Set Github button styles */
  .github-button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .notice {
	font-size: 10px;
  }
}
/* Mobile styles for 6-12" inch devices */
@media (min-width: 481px) and (max-width: 1024px) {
  /* Set header styles */
  .title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  h1 {
    font-size: 36px;
  }
  
  /* Set form styles */
  input, textarea, .botmessage {
    width: 100%;
    max-width: 600px;
  }

  /* Set Github button styles */
  .github-button {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .notice {
	font-size: 12px;
  }
}

